<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentation Generator</title>
</head>
<body>
    <h1>Presentation Generator</h1>
    <form action="/generate_presentation" method="post">
        <label for="lang">Choose language:</label>
        <select id="lang" name="lang">
            <option value="rus">Russian</option>
            <option value="ing">English</option>
        </select>
        <br>
        <label for="qwsb">Subject:</label>
        <input type="text" id="qwsb" name="qwsb" required>
        <br>
        <label for="plos">Place of Study:</label>
        <input type="text" id="plos" name="plos" required>
        <br>
        <label for="doc">Department or Class:</label>
        <input type="text" id="doc" name="doc" required>
        <br>
        <label for="aut">Author:</label>
        <input type="text" id="aut" name="aut" required>
        <br>
        <label for="mng">Manager:</label>
        <input type="text" id="mng" name="mng" required>
        <br>
        <label for="plc">Location:</label>
        <input type="text" id="plc" name="plc" required>
        <br>
        <label for="year">Year:</label>
        <input type="text" id="year" name="year" required>
        <br>
        <label for="vot">Have your own template?</label>
        <select id="vot" name="vot">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
        <br>
        <!-- Add other form fields here -->
        <input type="submit" value="Generate Presentation">
    </form>
</body>
</html>
